<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxy.practiceproject.model.info.admin.mapper.AdminCategoryMapper">

    <select id="pageQuery" resultType="com.zxy.practiceproject.model.info.admin.pojo.dto.PageAdminCategoryDTO">
        SELECT *
        FROM info_org_info
        <where>
            <if test="filters!=null">
                <if test="filters.name != null and filters.name != ''">
                    AND info_org_info.name like concat('%',#{filters.name},'%')
                </if>
                <if test="filters.description != null and filters.description != ''">
                    AND info_org_info.description like concat('%',#{filters.description},'%')
                </if>
                <if test="filters.creationTimeStart != null">
                    and article.create_time <![CDATA[>=]]> #{filters.creationTimeStart}
                </if>
                <if test="filters.creationTimeEnd != null ">
                    and article.create_time <![CDATA[<=]]> #{filters.creationTimeEnd}
                </if>
                <if test="filters.status != null and filters.status != ''">
                    AND article.status= #{filters.status}
                </if>
                <if test="filters.code != null and filters.code != ''">
                    AND article.code LIKE CONCAT('%', #{filters.code}, '%')
                </if>
            </if>
            AND info_org_info.deleted_status =0
        </where>
    </select>
    <select id="listQuery" resultType="com.zxy.practiceproject.model.info.admin.pojo.entity.AdminCategoryEntity"
            parameterType="com.zxy.practiceproject.model.info.admin.pojo.dto.QueryAdminCategoryDTO">
        SELECT *
        FROM info_org_info
        <where>
            <if test="filters!=null">
                <if test="filters.name != null and filters.name != ''">
                    AND info_org_info.name like concat('%',#{filters.name},'%')
                </if>

                <!--                <if test="filters.includeRoot != null and filters.includeRoot == '1'">-->
                <!--                    AND info_org_info.id != '0'-->
                <!--                </if>-->
                <!--                <if test="filters.parentId != null and filters.parentId != ''">-->
                <!--                    and JSON_CONTAINS(info_org_info.parent_ids,json_array(#{filters.parentId}))-->
                <!--                </if>-->
                <!--                <if test="filters.keyword != null and filters.keyword != ''">-->
                <!--                    AND (-->
                <!--                    info_org_info.name like concat("%", #{filters.keyword}, "%")-->
                <!--                    )-->
                <!--                </if>-->

            </if>
            AND info_org_info.deleted_status =0
        </where>
    </select>
    <select id="listChildrenIdsAndSelf" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT id
        FROM info_org_info
        <where>
            JSON_CONTAINS(parent_ids, json_array(#{id}))
            AND info_org_info.deleted_status =0
        </where> 
           OR id = #{id}
    </select>

</mapper>